version: '3.8'

services:
  gotcc:
    image: gotcc:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=mysql://user:password@db:3306/gotcc
      - CONFIG_PATH=/configs/example.yaml
    depends_on:
      - db
    volumes:
      - ./configs:/configs
      - ./internal/persistence/migrations:/migrations

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gotcc
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: